mixin testCard(link, src, title, descr)
	a(href=link).card-item
		img.card-item__img(src=src alt='foto-1' title="title-foto")
		h2.card-item__title=title
		p.card-item__descr=descr

//- mixin icon(icon, condition)
//- 	if(condition)
//- 		svg(class= icon  role="presentation")&attributes(attributes)
//- 			use(xlink:href="#"+ icon + "")
//- 	else
//- 		span(class='svg-wrap')&attributes(attributes)
//- 			svg(class="svg-icon icon--"+ icon + ""  role="presentation")
//- 				use(xlink:href="#"+ icon + "")
mixin svg(icon, mod)
	- mod = mod || ''
	svg(class="icon-"+ icon + " " + mod  role="presentation")&attributes(attributes)
		use(xlink:href="#icon-"+ icon + "")

mixin link-blank(href)
	a(herf=href rel="nofollow" target="_blank")
mixin img(src)
	img(src='./assets/images/'+src+'' title="foto" alt="foto")&attributes(attributes)

mixin btn(text)
	img(type="button" class="button button-reset--default-styles")&attributes(attributes)



mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="./assets/images/sprite/symbol/sprite.svg#" + name)

mixin whatsup-icon(mod)
	- mod = mod || ''
	svg(class="whatsup" + ' ' + mod width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
		path(fill-rule="evenodd" clip-rule="evenodd" d="M0 16.8L1.4448 12.4656C0.711199 11.2336 0.291199 9.79438 0.291199 8.25438C0.291199 3.69599 3.98719 0 8.54558 0C13.104 0 16.8 3.69599 16.8 8.25438C16.8 12.8128 13.104 16.5088 8.54558 16.5088C7.15679 16.5088 5.85199 16.1672 4.70399 15.5624L0 16.8Z")
		path(fill-rule="evenodd" clip-rule="evenodd" d="M13.8096 11.0039C13.4289 10.2815 12.0233 9.45834 12.0233 9.45834C11.7041 9.27914 11.3233 9.25674 11.1385 9.58154C11.1385 9.58154 10.6793 10.1303 10.5673 10.2087C10.0353 10.5671 9.54246 10.5559 9.04966 10.0575L7.89606 8.90394L6.74246 7.75034C6.24406 7.25194 6.23286 6.76474 6.59126 6.23274C6.66966 6.11514 7.21846 5.66154 7.21846 5.66154C7.54326 5.48234 7.52086 5.09594 7.34166 4.77674C7.34166 4.77674 6.51846 3.37115 5.79606 2.99035C5.48807 2.82795 5.11287 2.88395 4.86647 3.13035L4.35687 3.63995C2.74407 5.25274 3.53927 7.07834 5.15207 8.69674L6.63046 10.1751L8.10886 11.6535C9.72166 13.2663 11.5473 14.0671 13.1657 12.4487L13.6753 11.9391C13.9216 11.6927 13.9776 11.3175 13.8152 11.0095L13.8096 11.0039Z")

mixin telegram-icon(mod)
	- mod = mod || ''
	svg(class="telegram" + ' ' + mod width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
		path(d="M8.60006 16.8C13.2392 16.8 17 13.0392 17 8.39999C17 3.7608 13.2392 0 8.60006 0C3.96087 0 0.200073 3.7608 0.200073 8.39999C0.200073 13.0392 3.96087 16.8 8.60006 16.8Z" fill="#41B4E6")
		path(fill-rule="evenodd" clip-rule="evenodd" d="M7.44654 9.6264L11.2433 12.488L13.1585 4.31201L3.36975 8.16481L6.34895 9.1504L11.7865 5.49921L7.44654 9.6264Z" fill="white")
		path(fill-rule="evenodd" clip-rule="evenodd" d="M6.34894 9.15035L7.16094 12.0847L7.44654 9.62635L11.7865 5.49916L6.34894 9.15035Z" fill="#D2D2D7")
		path(fill-rule="evenodd" clip-rule="evenodd" d="M8.68403 10.5559L7.16083 12.0847L7.44643 9.62634L8.68403 10.5559Z" fill="#B9B9BE")




